@import 'common';
@import 'hamburgers';
header {
    user-select: none;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    & * {
        position: relative;
        text-decoration:none !important;
        // border: 2px solid greenyellow ;
    }
    // border: 2px solid black;
    & #headerbox {
        & nav.menu{
            position: relative;
            margin-top: 7vh;
            display: none;
            opacity: 0;
            width: 800px;
            & ul {
                display: inline-block;
                position: absolute;
                & li{
                    color: $mt_blue2;
                    & p {
                        color: $mt_blue2;
                    }
                }
            }
            & ul.logo {
                top: 340px;
                left: 32vw;
                & li a img {
                        // position: absolute;
                        width: 230px;
                    }
            }
            & ul.llleft {
                top: 200px;
                left: calc(50vw);
                width: 180px;
                & li a p{
                    font-size: 50px !important;
                    margin-bottom: 15px;
                    z-index: 2;
                }
                & :nth-child(1){
                    transform: translateX(-30px);
                }
                & :nth-child(2){
                    transform: translateX(5px);
                }
                & :nth-child(3){
                    transform: translateX(40px);
                }

            }

            & ul.ybg {
                position: absolute;
                left: 52vw;
                top: 300px;
                & div{
                        // position: absolute;
                        opacity: 0;
                        z-index: 1;
                        // transform: translate(-30px , -50px);
                        width: 220px;
                        height: 70px;
                        background-color: $mt_yellow;
                        transition: 0.2s all ease-in-out;
                    }

                    & :nth-child(1){
                        transform: skew(8deg) translate(-35px,-46px);
                    }
                    & :nth-child(2){
                        transform: skew(8deg) translate(-5px,-21px);
                    }
                    & :nth-child(3){
                        transform: skew(8deg) translate(25px,4px);
                    }
            }
            & ul.llmiddle {
                top: 519px;
                left: 58vw;
                width: 180px;
                & li a.member{
                    // left: 50px;
                    // top: 170px;
                    & svg {
                        position: absolute;
                        transform: scale(3);
                    }
                }
                & li a.cart{
                    left: 90px;
                    // top: 325px;
                    & svg {
                        position: absolute;
                        transform: scale(3);
                    }
                }
                & li a path{
                    color: $mt_blue2 ;
                }
            }
            & ul.llright {
                top: 200px;
                left: 74vw;
                width: 310px;
                & li{
                    display: inline-block;
                }
                & li.b{
                    display: block;
                }
                & :nth-child(1){
                    transform: translateX(-100px) ;
                }
                & :nth-child(2){
                    transform: translateX(-75px);
                }
                & :nth-child(3){
                    transform: translateX(-50px);
                }
                & :nth-child(4){
                    transform: translateX(-25px);
                }
                & :nth-child(5){
                    transform: translateX(0px);
                }
            }
            &.on {
                display: block;
            }
            &.show {
                opacity: 1;
            }
        }
        & .hamburger{
            position: fixed;
            top: calc(50vh - 25px);
            width: 60px;
            height: 50px;
            right: 15px;
            outline: none !important;
            &.is-active .hamburger-box .hamburger-inner{
                background-color: $mt_blue2;
                &::before , &::after{
                    background-color: $mt_blue2;
                }
            }
            & .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                height: 6px;
            }
        }
        div#greymask{
            // border: 2px solid red;
            display: none;
            position: absolute;
            top: -10vh;
            left: -10vw;
            width: 120vw;
            height: 120vh;
            background-color: rgba($mt_black,0);
            transition: 0.2s all;
            &.on{
                display: block;
            }
            &.show{
                background-color: rgba($mt_black,0.5);
            }
        }
        div#hamburgerBG{
            display: none;
            opacity: 0;
            position: fixed;
            width: 80%;
            min-width: 1152px;
            height: 100vh;
            right: 0;
            top: 0;
            overflow: hidden !important;
            transition: 0.3s all ;
            // transform: skew(16deg) translateX(150px);
            & div.ab{
                position: absolute;
                transition: 0.1s all linear;
            }
            & div.white{
                top: 0;
                width: 100%;
                height: 100%;
                min-height: 986px;
                background-color: rgba(255, 255, 255,0.8);
                transform: skew(16deg) translateX(150px);
            }
            & div.yellow1{
                opacity: 0;
                top: 310px;
                left: -40px;
                height: 90px;
                width: 310px;
                background-color: $mt_yellow;
                transform: skew(16deg) translateX(150px);
            }
            & div.yellow2{
                opacity: 0;
                top: 455px;
                left: 2px;
                height: 90px;
                width: 310px;
                background-color: $mt_yellow;
                transform: skew(16deg) translateX(150px);
            }
            & div.yellow3{
                opacity: 0;
                top: 600px;
                left: 44px;
                height: 90px;
                width: 310px;
                background-color: $mt_yellow;
                transform: skew(16deg) translateX(150px);
            }
            & div.blue{
                z-index: 25;
                opacity: 1;
                top: calc(100vh - 50px);
                left: calc(29vh - 152px);
                height: 50px;
                width: 100%;
                background-color: $mt_blue2;
                transform: skew(16deg) translateX(150px);
                & p{
                    text-align: center;
                    color: white;
                    transform: skew(-16deg) translate(-135px,10px);
                }
            }
            &.on {
                display: block;
            }
            &.show {
                opacity: 1;
            }
        }
    }


    li{
        &:hover a{
            & svg path {
                color: $mt_yellow !important ;
            }
        }
    
    }

}