* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Noto Sans TC', sans-serif !important;
}

footer.footer {
  font-size: 12px !important;
  width: 100%;
  background-color: #153A64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0;
}

footer.footer .footer_logo_block {
  width: 50%;
  margin: auto;
  padding-left: 10%;
}

footer.footer .footer_logo_block img {
  height: 70px;
}

footer.footer .footer_logo_block .copyright {
  color: #fff;
}

footer.footer .footer_info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.footer .footer_info .f_color1 {
  color: #fff;
}

footer.footer .footer_info .sevrves_place-serves_tel {
  margin: auto 3% auto 0;
}

footer.footer .footer_info .sevrves_place-serves_tel .place {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

footer.footer .footer_info .sevrves_place-serves_tel .place div {
  margin: 3px;
}

footer.footer .footer_info .sevrves_place-serves_tel .tel {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20px;
}

footer.footer .footer_info .sevrves_place-serves_tel .tel div {
  margin: 3px;
}

footer.footer .footer_info .serves_time-serves_email {
  margin: auto 3%;
}

footer.footer .footer_info .serves_time-serves_email .time {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

footer.footer .footer_info .serves_time-serves_email .time div {
  margin: 3px;
}

footer.footer .footer_info .serves_time-serves_email .email {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20px;
}

footer.footer .footer_info .serves_time-serves_email .email div {
  margin: 3px;
}

footer.footer .footer_info .epaper-footer_link {
  margin: auto 2% auto 5%;
}

footer.footer .footer_info .epaper-footer_link .epaper .etitle {
  margin: 5px 0;
}

footer.footer .footer_info .epaper-footer_link .epaper .einput {
<<<<<<< HEAD
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
=======
  margin: 15px auto;
>>>>>>> 9ef20454f329f8b70260a6dd96741d84fd5f00b0
  display: flex;
  height: 30px;
  width: 100%;
  background-color: #fff;
}

footer.footer .footer_info .epaper-footer_link .epaper .einput input {
  outline: none;
  border: none;
  width: 100%;
}

footer.footer .footer_info .epaper-footer_link .epaper .einput .e_bt {
  background-color: #153A64;
  border: 1px solid #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

footer.footer .footer_info .epaper-footer_link .link .linkup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.footer .footer_info .epaper-footer_link .link .linkup div {
  margin: 5px;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

footer.footer .footer_info .epaper-footer_link .link .linkdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.footer .footer_info .epaper-footer_link .link .linkdown div {
  margin: 5px;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

footer.footer .footer_info .epaper-footer_link .link a:visited {
  color: #fff;
}

@media screen and (min-width: 1440px) {
  footer.footer .footer_logo_block {
    width: 45%;
    padding-left: 5%;
  }
  footer.footer .footer_info {
    width: 55%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  footer.footer .footer_logo_block {
    width: 35%;
    padding-left: 4%;
  }
  footer.footer .footer_info {
    width: 65%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  footer.footer .footer_logo_block {
    width: 30%;
    padding-left: 3%;
  }
  footer.footer .footer_info {
    width: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  footer.footer {
<<<<<<< HEAD
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
=======
    flex-direction: column;
>>>>>>> 9ef20454f329f8b70260a6dd96741d84fd5f00b0
    width: 100%;
    height: auto;
    padding: 15px 0;
  }
  footer.footer .footer_logo_block {
    width: auto;
    padding-left: 0;
    margin: 10px auto 0;
  }
  footer.footer .footer_info {
    width: auto;
    height: auto;
<<<<<<< HEAD
    margin: 20px 0 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
=======
    justify-content: center;
    margin: 10px 0 0;
>>>>>>> 9ef20454f329f8b70260a6dd96741d84fd5f00b0
  }
  footer.footer .footer_info .sevrves_place-serves_tel {
    margin: auto 20px;
  }
  footer.footer .footer_info .serves_time-serves_email {
    margin: auto 20px;
  }
  footer.footer .footer_info .epaper-footer_link {
    height: auto;
    margin-top: 10px;
    margin: auto 2%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  footer.footer {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
  }
  footer.footer .footer_logo_block {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  footer.footer .footer_info {
<<<<<<< HEAD
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer.footer .footer_info .sevrves_place-serves_tel {
    height: 110px;
  }
  footer.footer .footer_info .serves_time-serves_email {
    height: 110px;
=======
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 10px auto 0;
>>>>>>> 9ef20454f329f8b70260a6dd96741d84fd5f00b0
  }
  footer.footer .footer_info .epaper-footer_link {
    height: auto;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  footer.footer .footer_info .epaper-footer_link .epaper {
    width: 100%;
  }
  footer.footer .footer_info .epaper-footer_link .epaper .einput {
    width: 60%;
  }
  footer.footer .footer_info .epaper-footer_link .link {
    display: flex;
    justify-content: center;
  }
  footer.footer .footer_info .epaper-footer_link .link .linkup div {
    margin: 5px;
    padding-right: 10px;
  }
  footer.footer .footer_info .epaper-footer_link .link .linkdown div {
    margin: 5px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 575px) {
  footer.footer {
    max-width: 100%;
    display: block;
    margin: auto;
    padding: 15px 0;
  }
  footer.footer .footer_logo_block {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  footer.footer .footer_info {
    width: 100%;
    margin: 10px auto 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer.footer .footer_info .epaper-footer_link {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  footer.footer .footer_info .epaper-footer_link .epaper .einput {
    width: 60%;
  }
  footer.footer .footer_info .epaper-footer_link .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
  }
  footer.footer .footer_info .epaper-footer_link .link .linkup div {
    margin: 2px;
    padding-right: 4px;
  }
  footer.footer .footer_info .epaper-footer_link .link .linkdown div {
    margin: 2px;
    padding-right: 4px;
  }
}
/*# sourceMappingURL=footer.css.map */