div.wrap {
  width: 80%;
  margin: 0 auto;
}

div.wrap div.leader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.wrap div.leader div.leader_headtag img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

div.wrap div.leader div.leader_info {
  margin: auto 20px;
}

div.wrap div.leader div.leader_info div.leader_name-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}

div.wrap div.leader div.leader_info div.leader_name-badge div.leader_name {
  width: 100%;
}

div.wrap div.leader div.leader_info div.leader_name-badge div.leader_badge {
  width: 100%;
}

div.wrap div.leader div.leader_info div.leader_introduction {
  color: red;
}

div.wrap div.public_pic-activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.wrap div.public_pic-activity div.public_pic {
  width: 50%;
}

div.wrap div.public_pic-activity div.public_pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

div.wrap div.public_pic-activity div.activity {
  width: 50%;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.wrap div.public_pic-activity div.activity h3.activity_title {
  margin: 0 0 10px;
}

div.wrap div.public_pic-activity div.activity div.activity_report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

div.wrap div.public_pic-activity div.activity div.activity_report div.report div.report_bt {
  background-color: #ccc;
  padding: 5px;
  border-radius: 5px;
}

div.wrap div.public_pic-activity div.activity div.info_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

div.wrap div.public_pic-activity div.activity div.info_icon div.mountain_icon_part div.mountain_icon {
  width: 100%;
}

div.wrap div.public_pic-activity div.activity div.info_icon div.mountain_icon_part div.mountain_text {
  width: 100%;
}

div.wrap div.public_pic-activity div.activity div.info_icon div.participant_icon_part div.participant_icon {
  width: 100%;
}

div.wrap div.public_pic-activity div.activity div.info_icon div.participant_icon_part div.participant_text {
  width: 100%;
}

div.wrap div.public_pic-activity div.activity div.info_icon div.collection_icon_part div.collection_icon {
  width: 100%;
}

div.wrap div.public_pic-activity div.activity div.info_icon div.collection_icon_part div.collection_text {
  width: 100%;
}

div.wrap div.public_pic-activity div.activity div.info_icon div.share_icon_part div.share_icon {
  width: 100%;
}

div.wrap div.public_pic-activity div.activity div.info_icon div.share_icon_part div.share_text {
  width: 100%;
}

div.wrap div.public_pic-activity div.activity div.applied_participant h4 {
  margin: 10px 0;
}

div.wrap div.public_pic-activity div.activity div.applied_participant div.applied_participant_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.wrap div.public_pic-activity div.activity div.applied_participant div.applied_participant_block div.applied_participant_item {
  margin: 0 20px;
}

div.wrap div.public_pic-activity div.activity div.applied_participant div.applied_participant_block div.applied_participant_item div.applied_participant_pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

div.wrap div.public_pic-activity div.activity div.applied_participant div.applied_participant_block div.applied_participant_item div.applied_participant_name-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.wrap div.public_pic-activity div.activity div.applied_participant div.applied_participant_block div.applied_participant_item div.applied_participant_name-badge div.applied_participant_name {
  margin-right: 5px;
}

div.wrap div.public_pic-activity div.activity button.apply_bt {
  margin: 20px auto 0;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
}

div.wrap div.related_pic {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 30px 0;
}

div.wrap div.related_pic h3 {
  margin: 10px 0;
}

div.wrap div.related_pic div.related_pic_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

div.wrap div.related_pic div.related_pic_block div.related_pic_item {
  width: 200px;
  margin: 0 20px 0 0;
}

div.wrap div.related_pic div.related_pic_block div.related_pic_item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

div.wrap div.introduction-application_block div.introduction-application_bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.wrap div.introduction-application_block div.introduction-application_bt .change:after {
  content: '';
  width: 100%;
  padding-top: 5px;
  background-color: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
}

div.wrap div.introduction-application_block div.introduction-application_bt .introduction_bt {
  width: 100px;
  border: 1px solid #000;
  border-bottom: none;
  background-color: #fff;
  position: relative;
  border-radius: 5px 5px 0 0;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

div.wrap div.introduction-application_block div.introduction-application_bt .application_bt {
  width: 100px;
  border: 1px solid #000;
  border-bottom: none;
  background-color: #fff;
  position: relative;
  border-radius: 5px 5px 0 0;
  text-align: center;
  cursor: pointer;
}

div.wrap div.introduction-application_block div.introduction-application_info {
  height: 600px;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 0 10px 10px 10px;
}

div.wrap div.introduction-application_block div.introduction-application_info .activity_introduction {
  display: block;
}

div.wrap div.introduction-application_block div.introduction-application_info .activity_application {
  display: none;
}

div.wrap div.message .leave_message_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.wrap div.message .leave_message_block textarea {
  resize: none;
}

div.wrap div.message .leave_message_block button {
  width: 100px;
  margin: 10px 0;
}

div.wrap div.message .message_board_block {
  width: 80%;
  height: 100px;
  border-top: 1px solid #000;
}
/*# sourceMappingURL=match_info.css.map */