body {
  margin: 0;
}

main {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 26%;
  width: auto;
  margin: 0 auto;
}

main .top {
  width: 100%;
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

main .top .banner {
  background-image: url(../images/Member/top_banner.jpg);
  background-size: cover;
  background-position: 0 25%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/4/4;
}

main .top .AvatarFrame {
  width: 200px;
  height: 200px;
  border-radius: 99em;
  border: 3px solid white;
  margin: 0px auto;
  -webkit-transform: translate(0%, 25%);
          transform: translate(0%, 25%);
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
  position: relative;
}

main .top .AvatarFrame .frame img {
  width: 110%;
  position: absolute;
  left: -5%;
  top: -5%;
}

main .top .AvatarFrame .memAvatar {
  width: 100%;
  height: 100%;
  border-radius: 99em;
  background-image: url(../images/Member/memAvatar_test.jpg);
  background-size: cover;
}

main .middle {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

main .middle .memName {
  text-align: left;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  height: auto;
  margin: 0px auto;
  padding-top: 15px;
}

main .middle h2 {
  margin: auto;
  text-align: center;
  font-size: 30px;
}

main .medal {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .medal li {
  margin: 5px;
  width: 25px;
}

main .medal li img {
  width: 100%;
}

main .profile {
  width: 200px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3/3/4/4;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  background-color: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 3px 2px 3px 2px #cccccc;
          box-shadow: 3px 2px 3px 2px #cccccc;
  -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

main .profile .profile_icon {
  width: 20px;
  margin: 0 auto;
  padding: 4px;
  background-color: #ffffff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

main .profile .profile_icon img {
  width: 100%;
}

main .profile .modify {
  text-align: center;
  padding: 5px;
  font-weight: 800;
  border-radius: 0 5px 5px 0;
  color: #ffffff;
  background-color: #1A95DB;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 1/2/2/6;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10%;
}

main .content .content_box {
  width: 1200px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[24];
      grid-template-rows: repeat(24, 1fr);
}

main .content .content_box .aside_nav {
  width: 120px;
  background-color: #153A64;
  -ms-grid-row: 1;
  -ms-grid-row-span: 24;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/25/2;
  display: -ms-grid;
  display: grid;
}

main .content .content_box .aside_nav button {
  background-color: #153A64;
  width: 80px;
  height: 80px;
  margin: auto;
  color: #ffffff;
  border-radius: 20px;
  outline: none;
  font-size: 40px;
}

main .content .content_box .aside_nav button p {
  font-size: 20px;
}

main .content .content_box .aside_nav button:first-child {
  background-color: orange;
}

main .content .content_box .swiper_media575 {
  position: fixed;
  bottom: 0;
  z-index: 999;
}

main .content .content_box .swiper_media575 .swiper-container {
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
}

main .content .content_box .swiper_media575 .swiper-container .swiper-wrapper .swiper-slide {
  background-color: #153A64;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  border-right: 1px solid gray;
}

main .content .content_box .swiper_media575 .swiper-container .swiper-wrapper .swiper-slide button {
  width: 80px;
  height: 80px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
}

main .content .content_box .CB_title {
  width: 108%;
  height: 60px;
  justify-self: flex-end;
  background-color: #153A64;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-area: 1/3/2/13;
}

main .content .content_box .CB_title h2 {
  margin: 1%;
  font-size: 30px;
  letter-spacing: 10px;
  color: #ffffff;
}

main .content .content_box .C_info {
  width: 108%;
  justify-self: flex-end;
  background-color: #ffffff;
  -ms-grid-row: 2;
  -ms-grid-row-span: 23;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-area: 2/3/25/13;
  margin-top: 2%;
}

@media screen and (min-width: 1440px) {
  main .content .swiper_media575 {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  main .content .swiper_media575 {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  main .content .swiper_media575 {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  main .content .swiper_media575 {
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  main .top .AvatarFrame {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
    width: 130px;
    height: 130px;
    -webkit-transform: translate(5%, 50%);
            transform: translate(5%, 50%);
  }
  main .middle {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  main .middle .memName {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 1/2/2/6;
  }
  main .middle .medal {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 2/2/3/6;
  }
  main .middle .medal li {
    width: 35px;
  }
  main .middle .profile {
    display: none;
  }
  main .content .content_box {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  main .content .content_box .aside_nav {
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: 1/1/2/6;
    display: none;
  }
  main .content .content_box .aside_nav button {
    border-radius: 0px;
  }
  main .content .content_box .swiper_media575 {
    display: -ms-grid;
    display: grid;
  }
  main .content .content_box .CB_title {
    display: none;
  }
  main .content .content_box .C_info {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: 1/1/3/6;
  }
  footer {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 575px) {
  main .top .AvatarFrame {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
    width: 130px;
    height: 130px;
    -webkit-transform: translate(5%, 50%);
            transform: translate(5%, 50%);
  }
  main .middle {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  main .middle .memName {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 1/2/2/6;
  }
  main .middle .medal {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 2/2/3/6;
  }
  main .middle .medal li {
    width: 35px;
  }
  main .middle .profile {
    display: none;
  }
  main .content .content_box {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  main .content .content_box .aside_nav {
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: 1/1/2/6;
    display: none;
  }
  main .content .content_box .aside_nav button {
    border-radius: 0px;
  }
  main .content .content_box .swiper_media575 {
    display: -ms-grid;
    display: grid;
  }
  main .content .content_box .CB_title {
    display: none;
  }
  main .content .content_box .C_info {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: 1/1/3/6;
  }
  footer {
    margin-bottom: 100px;
  }
}

#Memachievement {
  margin: 0;
}

#Memachievement h2 {
  margin: 1%;
}

#Memachievement p {
  margin: 1%;
  margin-bottom: 30px;
}

#Memachievement .Achievement_list {
  max-width: 1000px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

#Memachievement .Achievement_list div {
  margin: 0 auto;
  text-align: center;
}

#Memachievement .Achievement_list div img {
  width: 120px;
  margin: 0;
}

@media screen and (max-width: 575px) {
  #MemAchievement {
    width: 100%;
  }
  #MemAchievement .Achievement_list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[12];
        grid-template-rows: repeat(12, 1fr);
  }
}

#MemFavorites {
  margin: 0;
}

#MemFavorites .classify_list {
  margin: 0 auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#MemFavorites .classify_list .classify {
  font-size: large;
  border: 1px solid black;
  padding: 10px;
  margin-right: 15px;
  display: inline-block;
  color: black;
}

#MemFavorites .classify_list .post_classify {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2/4/3/5;
}

#MemFavorites .classify_list .travel_classify {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 2/5/3/6;
}

#MemFavorites .classify_list .product_classify {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 2/6/3/7;
}

#MemFavorites .classify_list .red {
  background-color: #153A64;
  color: #fff;
}

#MemFavorites .post_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#MemFavorites .post_list .page {
  width: 270px;
  border-radius: 20px 20px 30px 30px;
  height: 400px;
  margin: auto;
  margin-top: 15%;
  background-color: #dddddd;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#MemFavorites .post_list .page .page_img {
  background-color: #666666;
  border-radius: 20px 20px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  text-align: center;
}

#MemFavorites .post_list .page .page_img .label {
  line-height: 30px;
  height: 30px;
  color: #ffffff;
  background-color: orange;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1/1/2/5;
  border-radius: 10px;
  -webkit-transform: translate(10%, 30%);
          transform: translate(10%, 30%);
}

#MemFavorites .post_list .page .page_img .delete {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-area: 1/12/2/13;
  font-size: 12px;
  color: gray;
  border: 1px solid gray;
  background-color: #ffffff;
  font-weight: 800;
  width: 24px;
  height: 24px;
  border-radius: 99em;
  -webkit-transform: translate(25%, -25%);
          transform: translate(25%, -25%);
}

#MemFavorites .post_list .page .page_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 5%;
  text-align: left;
}

#MemFavorites .post_list .page .page_info .title {
  font-size: 28px;
}

#MemFavorites .travel_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#MemFavorites .travel_list .page {
  width: 270px;
  border-radius: 20px 20px 30px 30px;
  height: 400px;
  margin: auto;
  margin-top: 15%;
  background-color: #dddddd;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#MemFavorites .travel_list .page .page_img {
  background-color: #666666;
  border-radius: 20px 20px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  text-align: center;
}

#MemFavorites .travel_list .page .page_img .label {
  line-height: 30px;
  height: 30px;
  color: #ffffff;
  background-color: green;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1/1/2/5;
  border-radius: 10px;
  -webkit-transform: translate(10%, 30%);
          transform: translate(10%, 30%);
}

#MemFavorites .travel_list .page .page_img .delete {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-area: 1/12/2/13;
  font-size: 12px;
  color: gray;
  border: 1px solid gray;
  background-color: #ffffff;
  font-weight: 800;
  width: 24px;
  height: 24px;
  border-radius: 99em;
  -webkit-transform: translate(25%, -25%);
          transform: translate(25%, -25%);
}

#MemFavorites .travel_list .page .page_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 5%;
  text-align: left;
}

#MemFavorites .travel_list .page .page_info .title {
  font-size: 28px;
}

#MemFavorites .product_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#MemFavorites .product_list .page {
  width: 270px;
  border-radius: 20px 20px 30px 30px;
  height: 400px;
  margin: auto;
  margin-top: 15%;
  background-color: #dddddd;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#MemFavorites .product_list .page .page_img {
  background-color: #666666;
  border-radius: 20px 20px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  text-align: center;
}

#MemFavorites .product_list .page .page_img .label {
  line-height: 30px;
  height: 30px;
  color: #ffffff;
  background-color: purple;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1/1/2/5;
  border-radius: 10px;
  -webkit-transform: translate(10%, 30%);
          transform: translate(10%, 30%);
}

#MemFavorites .product_list .page .page_img .delete {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-area: 1/12/2/13;
  font-size: 12px;
  color: gray;
  border: 1px solid gray;
  background-color: #ffffff;
  font-weight: 800;
  width: 24px;
  height: 24px;
  border-radius: 99em;
  -webkit-transform: translate(25%, -25%);
          transform: translate(25%, -25%);
}

#MemFavorites .product_list .page .page_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 5%;
  text-align: left;
}

#MemFavorites .product_list .page .page_info .title {
  font-size: 28px;
}

@media screen and (max-width: 575px) {
  #MemFavorites .classify_list {
    width: 100%;
    display: inline-block;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  #MemFavorites .classify_list .classify {
    margin-right: 0px;
  }
  #MemFavorites .classify_list .post_classify {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
  #MemFavorites .classify_list .travel_classify {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
  #MemFavorites .classify_list .product_classify {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2/3/3/4;
  }
  #MemFavorites .post_list, #MemFavorites .travel_list, #MemFavorites .product_list {
    margin: 0;
    width: 100%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
}

#MemAccreditation {
  width: 100%;
  margin: 0;
}

#MemAccreditation .accreditation_list {
  margin: 0 auto;
  margin-top: 5%;
  width: 95%;
  height: 750px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  gap: 5%;
}

#MemAccreditation .accreditation_list .certificate {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 1px solid black;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

#MemAccreditation .accreditation_list .certificate h2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/2/4;
  margin: auto;
  font-size: 36px;
}

#MemAccreditation .accreditation_list .certificate .box {
  background-color: #dbdbdb;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2/1/5/4;
  margin: 5%;
  border-radius: 30px;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

#MemAccreditation .accreditation_list .certificate .box .mask {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/4/2;
  border-radius: 30px 30px 0 0;
  background-color: #555555;
  opacity: 0.7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

#MemAccreditation .accreditation_list .certificate .box .mask .mask_text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2/1/3/4;
  margin: auto;
  color: #ffffff;
  font-size: 60px;
}

#MemAccreditation .accreditation_list .certificate .box .background1 {
  background-image: url(../images/Accreditation/identity.png);
}

#MemAccreditation .accreditation_list .certificate .box .background2 {
  background-image: url(../images/Accreditation/mountain_guide.png);
}

#MemAccreditation .accreditation_list .certificate .box .background1, #MemAccreditation .accreditation_list .certificate .box .background2 {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/4/2;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 50%;
}

#MemAccreditation .accreditation_list .certificate .box button {
  width: 100%;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4/1/5/2;
  background-color: #00a2ff;
  color: #ffffff;
  font-size: 30px;
  border-radius: 0 0 30px 30px;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  #MemAccreditation {
    width: 100%;
  }
  #MemAccreditation .accreditation_list {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  #MemAccreditation .accreditation_list .certificate {
    height: 500px;
  }
  #MemAccreditation .accreditation_list .certificate .box {
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2/1/6/4;
  }
}

@media screen and (max-width: 575px) {
  #MemAccreditation {
    width: 100%;
  }
  #MemAccreditation .accreditation_list {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  #MemAccreditation .accreditation_list .certificate {
    height: 500px;
  }
  #MemAccreditation .accreditation_list .certificate .box {
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2/1/6/4;
  }
}

#MemTravel {
  margin: 0;
}

#MemTravel .classify_list {
  margin: 0 auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#MemTravel .classify_list .classify {
  font-size: large;
  border: 1px solid black;
  padding: 10px;
  margin-right: 15px;
  display: inline-block;
  color: black;
}

#MemTravel .classify_list .myself_classify {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 2/5/3/6;
}

#MemTravel .classify_list .other_classify {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 2/6/3/7;
}

#MemTravel .classify_list .red {
  background-color: #153A64;
  color: #fff;
}

#MemTravel .myself_list {
  width: 100%;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
}

#MemTravel .myself_list .page {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  margin-bottom: 1%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
}

#MemTravel .myself_list .page .img_box {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  background-color: gray;
  margin: 5%;
}

#MemTravel .myself_list .page .text_box {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 1/2/2/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 5%;
}

#MemTravel .myself_list .page .text_box .text_title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  font-size: 24px;
}

#MemTravel .myself_list .page .text_box p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
}

#MemTravel .myself_list .page .info_box {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 1/5/2/6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 5%;
}

#MemTravel .myself_list .page .date_box {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 1/6/2/7;
  background-color: green;
}

#MemTravel .travel_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Noto Sans TC', sans-serif !important;
}

footer.footer {
  font-size: 12px !important;
  width: 100%;
  background-color: #153A64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0;
}

footer.footer .footer_logo_block {
  width: 50%;
  margin: auto;
  padding-left: 10%;
}

footer.footer .footer_logo_block img {
  height: 70px;
}

footer.footer .footer_logo_block .copyright {
  color: #fff;
}

footer.footer .footer_info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.footer .footer_info .f_color1 {
  color: #fff;
}

footer.footer .footer_info .sevrves_place-serves_tel {
  margin: auto 3% auto 0;
}

footer.footer .footer_info .sevrves_place-serves_tel .place {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

footer.footer .footer_info .sevrves_place-serves_tel .place div {
  margin: 3px;
}

footer.footer .footer_info .sevrves_place-serves_tel .tel {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20px;
}

footer.footer .footer_info .sevrves_place-serves_tel .tel div {
  margin: 3px;
}

footer.footer .footer_info .serves_time-serves_email {
  margin: auto 3%;
}

footer.footer .footer_info .serves_time-serves_email .time {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

footer.footer .footer_info .serves_time-serves_email .time div {
  margin: 3px;
}

footer.footer .footer_info .serves_time-serves_email .email {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20px;
}

footer.footer .footer_info .serves_time-serves_email .email div {
  margin: 3px;
}

footer.footer .footer_info .epaper-footer_link {
  margin: auto 2% auto 5%;
}

footer.footer .footer_info .epaper-footer_link .epaper .etitle {
  margin: 5px 0;
}

footer.footer .footer_info .epaper-footer_link .epaper .einput {
<<<<<<< HEAD
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
=======
  margin: 15px auto;
>>>>>>> 9ef20454f329f8b70260a6dd96741d84fd5f00b0
  display: flex;
  height: 30px;
  width: 100%;
  background-color: #fff;
}

footer.footer .footer_info .epaper-footer_link .epaper .einput input {
  outline: none;
  border: none;
  width: 100%;
}

footer.footer .footer_info .epaper-footer_link .epaper .einput .e_bt {
  background-color: #153A64;
  border: 1px solid #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

footer.footer .footer_info .epaper-footer_link .link .linkup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.footer .footer_info .epaper-footer_link .link .linkup div {
  margin: 5px;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

footer.footer .footer_info .epaper-footer_link .link .linkdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.footer .footer_info .epaper-footer_link .link .linkdown div {
  margin: 5px;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

footer.footer .footer_info .epaper-footer_link .link a:visited {
  color: #fff;
}

@media screen and (min-width: 1440px) {
  footer.footer .footer_logo_block {
    width: 45%;
    padding-left: 5%;
  }
  footer.footer .footer_info {
    width: 55%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  footer.footer .footer_logo_block {
    width: 35%;
    padding-left: 4%;
  }
  footer.footer .footer_info {
    width: 65%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  footer.footer .footer_logo_block {
    width: 30%;
    padding-left: 3%;
  }
  footer.footer .footer_info {
    width: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  footer.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    padding: 15px 0;
  }
  footer.footer .footer_logo_block {
    width: auto;
    padding-left: 0;
    margin: 10px auto 0;
  }
  footer.footer .footer_logo_block .copyright {
    width: 225px;
  }
  footer.footer .footer_info {
    width: auto;
    height: auto;
    margin: 20px 0 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer.footer .footer_info .sevrves_place-serves_tel {
    height: 150px;
    margin: auto 20px;
  }
  footer.footer .footer_info .serves_time-serves_email {
    height: 150px;
    margin: auto 20px;
  }
  footer.footer .footer_info .epaper-footer_link {
    height: auto;
    margin-top: 10px;
    margin: auto 2%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  footer.footer {
    height: auto;
    padding: 15px 0;
  }
  footer.footer .footer_info {
<<<<<<< HEAD
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
=======
    flex-wrap: wrap;
    width: 100%;
>>>>>>> 9ef20454f329f8b70260a6dd96741d84fd5f00b0
  }
  footer.footer .footer_info .sevrves_place-serves_tel {
    height: 110px;
  }
  footer.footer .footer_info .serves_time-serves_email {
    height: 110px;
  }
  footer.footer .footer_info .epaper-footer_link {
    height: auto;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  footer.footer .footer_info .epaper-footer_link .epaper {
    width: 100%;
  }
  footer.footer .footer_info .epaper-footer_link .epaper .etitle {
    margin: 15px 0 5px;
  }
  footer.footer .footer_info .epaper-footer_link .epaper .einput {
    width: 60%;
  }
  footer.footer .footer_info .epaper-footer_link .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
  }
  footer.footer .footer_info .epaper-footer_link .link .linkup div {
    margin: 2px;
    padding-right: 4px;
  }
  footer.footer .footer_info .epaper-footer_link .link .linkdown div {
    margin: 2px;
    padding-right: 4px;
  }
}

@media screen and (max-width: 575px) {
  footer.footer .footer_info {
    width: 100%;
  }
  footer.footer .epaper-footer_link .epaper .einput {
    width: 80% !important;
  }
}
/*# sourceMappingURL=Member_style.css.map */