div.wrap {
  max-width: 1152px;
  margin: 30px auto;
  padding: 0 20px;
}

div.wrap .back {
  border: 1px solid #000;
}

div.wrap .product_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.wrap .product_block .left {
  width: 50%;
  margin-right: 100px;
}

div.wrap .product_block .left .main_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  position: relative;
}

div.wrap .product_block .left .main_pic::after {
  content: '';
  position: absolute;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFC400), to(#000000));
  background: linear-gradient(180deg, #FFC400, #000000);
  opacity: .7;
  height: 100%;
  width: 400px;
  z-index: -1;
  border-radius: 50%;
}

div.wrap .product_block .left .main_pic img {
  height: 100%;
}

div.wrap .product_block .left .main_pic img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

div.wrap .product_block .left .dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.wrap .product_block .left .dot .pic {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 20px 10px;
}

div.wrap .product_block .left .move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.wrap .product_block .left .move .pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

div.wrap .product_block .left .move .pre .pre_pic {
  height: 100px;
}

div.wrap .product_block .left .move .pre .pre_pic img {
  height: 100%;
}

div.wrap .product_block .left .move .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

div.wrap .product_block .left .move .next .next_pic {
  height: 100px;
}

div.wrap .product_block .left .move .next .next_pic img {
  height: 100%;
}

div.wrap .product_block .right {
  width: 50%;
}

div.wrap .product_block .right .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

div.wrap .product_block .right .top h2 {
  margin: 0 20px 0 0;
}

div.wrap .product_block .right .top .collect {
  background-color: red;
}

div.wrap .product_block .right .product_text p {
  text-align: left;
  margin: 10px 0;
}

div.wrap .product_block .right .money_chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}

div.wrap .product_block .right .money_chart .money {
  font-size: 50px;
  margin: 0 20px 20px 0;
}

div.wrap .product_block .right .money_chart .chart {
  background-color: #FFC400;
}

div.wrap .product_block .right .artical .related_artical {
  display: inline-block;
  border-bottom: 3px solid #FFC400;
}

div.wrap .product_block .right .artical .at_dots {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #FFC400;
}

div.wrap .product_block .right .artical .at_dots .at_dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #000;
  margin: 2px;
}

div.wrap .product_block .right .artical .at_title {
  margin: 10px 0 0 0;
}
/*# sourceMappingURL=product_info.css.map */